.agl {
    font-family: 'Averia Gruesa Libre', cursive;
}

.asl {
    font-family: 'Averia Sans Libre', cursive;
}

.ds {
    font-family: 'Dancing Script', cursive;
}

.it {
    font-family: 'Itim', cursive;
}

.ms {
    font-family: 'Marck Script', cursive;
}

.me {
    font-family: 'Merienda', cursive;

}