.title h1{
    display: flex;
    justify-content: center;
    padding: 10px;
}


.login-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
}

.border {
    width: 20%;
    box-shadow: 1px 2px 1px 1px green;
    border-radius: 5px;
    background-color: white;
}

.form {
    padding:30px;
}

.form h3 {
    display: flex;
    justify-content: center;
}

.errMsg {
    padding: 5px;
    color: red;
}

@media screen and (max-width: 991px) {
    .border {
        width: 40%;
        box-shadow: 1px 2px 1px 1px green;
        border-radius: 5px;
        background-color: white;
    }
}

@media screen and (max-width: 767px) {
    .border {
        width: 50%;
        box-shadow: 1px 2px 1px 1px green;
        border-radius: 5px;
        background-color: white;
    }
}

@media screen and (max-width: 479px) {
    .border {
        width: 80%;
        box-shadow: 1px 2px 1px 1px green;
        border-radius: 5px;
        background-color: white;
    }
}