.column {
    box-shadow: 1px 1px 1px 1px violet;
    border-radius: 6px;
}

#grid {
    height: 100px;
    display: grid;
    grid-template-areas: "a a a";
    gap: 10px;
    grid-auto-columns: 400px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #grid {
        height: 100px;
        display: grid;
        grid-template-areas: "a";
        gap: 10px;
        grid-auto-columns: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #grid {
        height: 100px;
        display: grid;
        grid-template-areas: "a ";
        gap: 10px;
        grid-auto-columns: 310px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #grid {
        height: 100px;
        display: grid;
        grid-template-areas: "a a";
        gap: 10px;
        grid-auto-columns: 310px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #grid {
        height: 100px;
        display: grid;
        grid-template-areas: "a a a";
        gap: 10px;
        grid-auto-columns: 310px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #grid {
        height: 100px;
        display: grid;
        grid-template-areas: "a a a";
        gap: 10px;
        grid-auto-columns: 310px;
    }
}