.title h1{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.title h4{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.signup-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
}

.border-signup {
    width: 20%;
    box-shadow: 1px 1px 1px 1px dodgerblue;
    border-radius: 5px;
    background-color: white;
}

.form {
    padding:30px;
}

.form h3 {
    display: flex;
    justify-content: center;
}

.errMsg {
    padding: 5px;
    color: red;
}

.successMsg {
    padding: 5px;
    color: green;
}

@media screen and (max-width: 991px) {
    .border-signup {
        width: 40%;
        box-shadow: 1px 1px 1px 1px dodgerblue;
        border-radius: 5px;
        background-color: white;
    }
}

@media screen and (max-width: 767px) {
    .border-signup {
        width: 50%;
        box-shadow: 1px 1px 1px 1px dodgerblue;
        border-radius: 5px;
        background-color: white;
    }
}

@media screen and (max-width: 479px) {
    .border-signup {
        width: 80%;
        box-shadow: 1px 1px 1px 1px dodgerblue;
        border-radius: 5px;
        background-color: white;
    }
}